{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <!-- Pagination -->
    <nav aria-label="Chart Pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#chart1">1</a></li>
            <li class="page-item"><a class="page-link" href="#chart2">2</a></li>
            <li class="page-item"><a class="page-link" href="#chart3">3</a></li>
            <li class="page-item"><a class="page-link" href="#chart4">4</a></li>
            <li class="page-item"><a class="page-link" href="#chart5">5</a></li>
        </ul>
    </nav>

    <!-- Chart sections -->
    <div class="chart-section" id="chart1">
        <div class="row">
            <div class="col-md-8">
                <canvas id="horizontalBarChart1" style="height: 400px; width: 800px;"></canvas>
            </div>
        </div>
    </div>
    
    <div class="chart-section" id="chart2" style="display: none;">
        <div class="row">
            <div class="col-md-8">
                <canvas id="scatteredChart" style="height: 400px; width: 800px;"></canvas>
            </div>
        </div>
    </div>

    <div class="chart-section" id="chart3" style="display: none;">
        <div class="row">
            <div class="col-md-8">
                <canvas id="areaChart" style="height: 400px; width: 800px;"></canvas>
            </div>
        </div>
    </div>

    <div class="chart-section" id="chart4" style="display: none;">
        <div class="row">
            <div class="col-md-8">
                <canvas id="horizontalBarChart2" style="height: 400px; width: 800px;"></canvas>
            </div>
        </div>
    </div>

    <div class="chart-section" id="chart5" style="display: none;">
        <div class="row">
            <div class="col-md-8">
                <canvas id="barChart" style="height: 400px; width: 800px;"></canvas>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'js/charts.js' %}"></script>
<!-- <script>
    function drawChart1();
    function drawChart2();
    function setupPagination();
</script> -->

{% endblock content %}