<!-- index.html -->

{% extends 'base.html' %}

{% block content %}
<div class="wrapper">

  <h1>Welcome to Pooong!</h1>

  <form method="POST">
	
    {% csrf_token %}
    <div class='form-control'>
      <!-- <label for="game_type">Match or Tournament?</label> -->
      <!-- <input id="game_type" type="text" name="game_type" required /> -->
      <select for="game_type" name="game_type">
        <option value="match">Match</option>
        <option value="tournament">Tournament</option>
      </select>
    </div>
    <div class='form-control'>
		<label for="character_choice">Your alias</label>
		<input id="character_choice" type="text" name="character_choice" required />
    </div>
    <input type="submit" class="button" value="Start Game" />
  </form>
</div>
{% endblock content %}