/* static/css/main.css */

body {
    /* width: 100%; */
    height: 90vh;
    background: #682d2d;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game_board {
	background: #2f76c7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 750px; /* Adjust the width to accommodate the canvas and some spacing */
    max-width: 100%; /* Ensure it fits within the available space */
    margin: auto; /* Center horizontally */
}

/* Update the canvas size to fill the available space in the game board */
#game {
    width: 100%;
    height: 100%;
}

#alert_move {
    color: white; /* Set text color to white */
    /* Add any other styling you want for the alert_move div */
}

.square{
    background: #2f76c7;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    font-weight: 500;
    color: white;
    box-shadow: 0.025em 0.125em 0.25em rgba(0, 0, 0, 0.25);
}
.head{
    width: 16em;
    text-align: center; 
}
.wrapper h1, h3 {
    color: #ffffff;
}

label {
    font-size: 20px;
    color: #ffffff;
}
input, select{
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    border: 1px solid #5a2912;
    font-size: 14px;
    background-color: #d19671;
    color: white;
}
.button{
    color: white;
    white-space: nowrap;
    background-color: #d45431;
    padding: 10px 20px;
    border: 0;
    border-radius: 2px;
    transition: all 150ms ease-out;
}
