.icon-svg {
  height: 1.5em;
}

.custom-heading {
    color: magenta;
    font-family: 'Press Start 2P', cursive; /* Assuming 'Press Start 2P' is the font name */
    font-size: 2em !important;
    /* Add any other styling properties you want to apply */
}

.bg-vaporwave {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%), url("../assets/img/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* Add any other styling properties you want to apply */
}

